<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParallelSuite"
       parallel="methods"
       thread-count="3">

    <test name="FlightTests">
        <classes>
            <class name="tests.FlightTests"/>
            <class name="tests.ReservationTest"/>
        </classes>
    </test>

</suite>